html {
  box-sizing: border-box;
}

* {
box-sizing: border-box;
}

*,
*::before
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul:last-child {
  margin-bottom: 0;
}

img {
  width: 100%;
}

h2,h3 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  background-color: #f1f1f1;
}


@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"),
       url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff2") format("woff2"),
       url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff2") format("woff2"),
       url("../fonts/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight.woff2") format("woff2"),
       url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 45px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333;
}

.section-offset {
  padding: 0;
}


/* header */
.header {
  margin-top: 30px;
  margin-bottom: 70px;
}

.header-container {
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-top-left {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 40px;
}

.header-phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
  transition: color 0.3s ease-in-out;
}

.header-phone:focus {
  outline-offset: 2px;
  outline: 1px solid #CC9933;
}

.header-phone:hover {
  color: #CC9933;
  transition: color 0.3s ease-in-out
}

.header-phone:active {
  color: #A47312;
  transition: color 0.3s ease-in-out
}

.header-top-right {
  display: flex;
  align-items: center;
}

.header-link {
  padding-left: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  transition: color 0.3s ease-in-out
}

.header-link svg * {
  fill: #CC9933;
  transition: fill 0.3s ease-in-out;
}

.header-link:focus {
  outline-offset: 2px;
  outline: 1px solid #CC9933;
  color: #CC9933;
}

.header-link:focus svg * {
  fill: #CC9933;;
}

.header-link:hover {
  color: #F0BF5F;
}

.header-link:hover svg * {
  fill: #F0BF5F;
}

.header-link:active {
  color: #A47312;
}

.header-link:active svg * {
  fill: #A47312;
}

.header-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666;
  transition: color 0.3s ease-in-out;
}

.header-item-link:focus {
  color: #CC9933;
}

.header-item-link:hover {
  color: #F0BF5F;
}

.header-item-link:active {
  color: #A47312;
}

.header-item {
  display: flex;
  align-items: center ;
}

.header-item:not(:last-child) {
  margin-right: 45px;
}

.header-item:last-child {
  margin: 0;
}

.header-btns {
  margin: 0;
}

:root {
  --main-btn-bg-color: #ffffff;
  --main-btn-color: #CC9933;
  }

.header-btn {
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-btn-color);
  background-color:var(--main-btn-bg-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-btn:focus {
  color: #FFFFFF;
  background-color: #CC9933;
}

.header-btn:hover {
  color: #FFFFFF;
  background-color: #CC9933;
}

.header-btn:active {
  color: #FFF;
  background: #A47312;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

.header-nav {
  justify-content: space-between;
  border-radius: 15px;
  padding: 27px 45px;
  background-size: cover;
  background-color: #FFF;
}


/* offer */
.offer {
  margin-bottom: 70px;
}

.offer-content {
  display: flex;
  justify-content: space-between;
  min-height: 85px;
}

.offer-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - 24px) / 2);
}

.offer-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFF;
}

.offer-title-big {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFF;
}

.offer-price {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFF;
}

.offer-price-big {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFF;
}

.offer-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
}

.offer-link:focus {
  color: #F0BF5F;
}

.offer-link:hover {
  color: #F0BF5F;
}

.offer-link:hover svg {
  transform: translateX(11px);
  transition: transform 0.3s ease-in-out;
}

.offer-link:active {
  color: #FFF;
}

.offer-link:active svg path {
  color: #FFF;
  stroke: #fff;
}

.offer-link svg {
  margin-left: 5px;
}

.offer-top {
  margin-bottom: 24px;
  padding: 40px 108px 40px 45px;
  background-image:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url("../img/offer-maldives.jpg");
  background-position: 0px center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.offer-top:hover {
  transform: translate(5px, 10px);
}

.offer-bottom {
  padding: 40px 108px 40px 45px;
  background-image:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url("../img/offer-crete.jpg");
  background-position: 0px center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.offer-bottom:hover {
  transform: translate(5px, 10px);
}

.offer-special-right {
 width: 573px;
}

.offer-right {
  padding: 212px 229px 40px 45px;
  border-radius: 15px;
  background-image:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url("../img/offer-lux.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  transition: transform 0.3s ease-in-out;
}

.offer-right:hover {
  transform: translate(5px, 10px);
}


/* about */
.about {
  margin-bottom: 70px;
}

.about-descr {
  width: 888px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}


/* services */
.services {
  margin-bottom: 70px;
}

.services-content {
  padding: 191px 126px 35px 45px;
  width: 573px;
}

.services-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #CC9933;
}

.services-link {
  position: relative;
  display: flex;
  align-items: center;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.services-link:focus {
  color: #CC9933;
}

.services-link:hover {
  color: #F0BF5F;
}

.services-link:hover svg {
  transform: translateX(11px);
  transition: transform 0.3s ease-in-out;
}

.services-link:hover svg * {
  stroke: #F0BF5F;
}

.services-link:active {
  color: #A47312;
}
.services-link:active svg * {
  stroke: #A47312;
}

.services-link svg {
  stroke: #CC9933;
  margin-left: 10px;
}

.services-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.services-item {
  width: 573px;
  min-height: 330px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.services-image-1 {
  background-image: url("../img/services-1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-image-2 {
  background-image: url("../img/services-2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-image-3 {
  background-image: url("../img/services-3.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-image-4 {
  background-image: url("../img/services-4.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}


/* advantages */
.advantages {
  margin-bottom: 70px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  padding: 116px 42px 32px 45px;
  width: 276px;
  min-height: 276px;
  border-radius: 15px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.advantages-item:nth-child(-n+10) {
  margin-right: 22px;
  margin-bottom: 22px;
}

.advantages-item:nth-child(4n) {
  margin-right: 0;
}

.advantages-item:hover {
  transform: translate(5px, 10px);
}

.advantages-container-text {
  margin-top: 0;
  margin-bottom: 0;
  width: 189px;
  min-height: 128px;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.advantages-background-1 {
  background-image: url("../img/advantages-1.svg");
  background-position: 45px 45px;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages-background-2 {
  background-image: url("../img/advantages-2.svg");
  background-position: 45px 45px;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages-background-3 {
  background-image: url("../img/advantages-3.svg");
  background-position: 45px 45px;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages-background-4 {
  background-image: url("../img/advantages-4.svg");
  background-position: 45px 45px;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages-background-5 {
  background-image: url("../img/advantages-5.svg");
  background-position: 45px 45px;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages-background-6 {
  background-image: url("../img/advantages-6.svg");
  background-position: 45px 45px;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages-background-7 {
  background-image: url("../img/advantages-7.svg");
  background-position: 45px 45px;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages-background-8 {
  background-image: url("../img/advantages-8.svg");
  background-position: 45px 45px;
  background-repeat: no-repeat;
  background-size: auto;
}


/* placement */
.placement {
  margin-bottom: 70px;
}

.placement-list {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.placement-item {
  width: 374px;
  font-size: 15px;
  border-radius: 15px;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
}

.placement-item:hover {
  transform: translateX(50px);
}

.placement-image {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.placement-article {
  font-size: 0;
}

.article-text {
  padding: 32px 45px 45px 45px;
}

.article-price {
  display: flex;
  align-items: center;
  gap: 4px;
}

.article-stars {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.article-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.article-price-gray {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.article-price-amount {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.article-price-dark {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.article-title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.article-descr {
  margin: 0;
  margin-bottom: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.article-btn {
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-btn-color);
  background-color:var(--main-btn-bg-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.article-btn:focus {
  color: #fff;
  background: #CC9933;
}

.article-btn:hover {
  color: #fff;
  background: #CC9933;
}

.article-btn:active {
  color: #fff;
  background: #A47312;
}

.placement-last-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/accom-9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.all-variants:before {
  content: "";
  position: absolute;
  inset: 0;
}

.all-variants {
  display: flex;
  align-items: center;
  padding-bottom: 27px;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
  transition: color 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.all-variants svg {
  margin-left: 5px;
}

.all-variants:focus {
  color: #CC9933;
}

.all-variants:hover {
  color: #F0BF5F;
}

.all-variants:hover svg * {
  stroke: #F0BF5F;
}

.all-variants:hover svg {
  transform: translateX(11px);
  transition: transform 0.3s ease-in-out;
}

.all-variants:active {
  color: #A47312;
}

.all-variants:active svg * {
  transform: translateX(0);
  stroke: #A47312;
}

/* join-us */
.tour-title {
  padding-left: 25px;
}

.tour {
  margin-bottom: 70px;
}

.tour-container {
  padding: 38px 45px 45px 45px;
  border-radius: 15px;
  background: #E9E9E9;
}

.tour-form-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 28px;
  background: #FFFFFF;
  border-radius: 15px;
}

.tour-block {
  margin-right: 20px;
}

.label-form {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.form-select {
  width: 169px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.tour-btn {
  padding: 13px 30px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-btn-color);
  background-color: var(--main-btn-bg-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.tour-btn:focus {
  color: #FFFFFF;
  background: #CC9933;
}

.tour-btn:hover {
  color: #FFFFFF;
  background: #CC9933;
}

.tour-btn:active {
  color: #FFFFFF;
  background: #A47312;
}

.tour-input {
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
opacity: 1;
}

.tour-border-bottom {
  width: 121px;
  border-bottom: 1px solid #E9E9E9;
}


/* contacts */
.contacts {
  margin-bottom: 40px;
}

.contacts-address {
  padding: 45px;
  background: #FFFFFF;
  border-radius: 15px;
  font-style: normal;
  background-image: url(../img/contacts-img.jpg);
  background-position: right 45px top 45px;
  background-repeat: no-repeat;
  background-size: auto;
}

.contacts-list {
  max-width: 380px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 23px;
}

.contacts-item-left {
  width: 98px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.contacts-item-right {
  width: 229px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.contacts-item-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  transition: color 0.3s ease-in-out;
}

.contacts-item-link:focus {
  outline-offset: 2px;
  outline: 1px solid #CC9933;
  color: #CC9933;
}

.contacts-item-link:hover {
  color: #CC9933;
}

.contacts-item-link:active {
  color: #A47312;
}

.contacts-item-mail {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.contacts-item-mail:focus {
  outline-offset: 2px;
  outline: 1px solid #CC9933;
  color: #CC9933;
}

.contacts-item-mail:hover {
  color: #F0BF5F;
}

.contacts-item-mail:active {
  color: #A47312;
}

.contacts-item-descr {
  width: 223px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.contacts-item-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.contacts-btn {
  display: inline-block;
  margin-top: 45px;
  padding: 27px 30px;
  border: 1px solid #CC9933;
  background-color: var(--main-btn-bg-color);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-btn-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.contacts-btn:focus {
  color: #FFFFFF;
  background-color: #CC9933;
}

.contacts-btn:hover {
  color: #FFFFFF;
  background-color: #CC9933;
}

.contacts-btn:active {
  color: #FFFFFF;
  background-color: #A47312;
}

/* footer */
.footer-container {
  display: flex;
  margin-bottom: 30px;
  background-color: #333333;
  border-radius: 15px;
  background-image: url(../img/footer-sun.svg);
  background-repeat: no-repeat;
  background-position: bottom right 176px;
  background-size: auto;
}

.footer-left-blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 125px 45px 45px;
}

.footer-center-blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  padding-top: 45px;
  padding-bottom: 140px;
}

.footer-left-item {
  width: 302px;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-left-text {
  width: 302px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-left-descr {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  transition: color 0.3s ease-in-out ;
}

.footer-left-descr:focus {
  outline-offset: 2px;
  outline: 1px solid #CC9933;
  color: #CC9933;
}

.footer-left-descr:hover {
  color: #F0BF5F;
}
.footer-left-descr:active {
  color: #A47312;
}

.footer-center-script {
  width: 359px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  transition: color 0.3s ease-in-out;
}

.footer-item-link:focus {
  outline-offset: 2px;
  outline: 1px solid #CC9933;
  color: #CC9933;
}

.footer-item-link:hover {
  color: #CC9933;
}
.footer-item-link:active {
  color: #A47312;
}

.footer-item-right-phone {
  width: 143px;
  margin-bottom: 15px;
}

.footer-item-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.footer-item-mail:focus {
  outline-offset: 2px;
  outline: 1px solid #CC9933;
  color: #CC9933;
}

.footer-item-mail:hover {
  color: #F0BF5F;
}

.footer-item-mail:active {
  color: #A47312;
}

.footer-item-right-mail {
  width: 128px;
}

.social-link {
  display: block;
  width: 25px;
  height: 25px;
}

.social-link svg {
  fill: #999999;
  transition: fill 0.3s ease-in-out;
}

.social-link svg path {
  fill: #999999;
  transition: fill 0.3s ease-in-out;
}

.social-link:focus svg path {
  fill: #CC9933;
  transition: fill 0.3s ease-in-out;
}

.social-link:hover svg path {
  fill: #CC9933;
  transition: fill 0.3s ease-in-out;
}

.social-link:active svg path {
  fill: #A47312;
  transition: fill 0.3s ease-in-out;
}

.social-item:not(:last-child) {
  margin-bottom: 25px;
}

.social {
  display: flex;
  flex-direction: column;
}

.footer-right-blog {
  position: relative;
  padding: 45px 45px 181px 269px;
}
